<h3>Nouveau Contact</h3>
<table>
    <tr>
        <th>Nom</th>
        <td>{{ contact.lastname }}</td>
    </tr>
    <tr>
        <th>Prénom</th>
        <td>{{ contact.firstname }}</td>
    </tr>
    <tr>
        <th>Company</th>
        <td>{{ contact.company }}</td>
    </tr>
    <tr>
        <th>Mail</th>
        <td>{{ contact.email }}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{ contact.phone }}</td>
    </tr>
    <tr>
        <th>Message</th>
        <td>{{ contact.message }}</td>
    </tr>
</table>